In [3]:
def sum_all(*args):
    result = 0
    for num in args:
        result += num
    return result

In [4]:
sum_all(6,90,54)

150

In [13]:
def multiplication(*args):
    result = 1
    for num in args:
        result *= num
    return result

In [14]:
multiplication(3,4,2)

24

In [15]:
def concat_string(separator, *args):
    return separator.join(args)

In [25]:
concat_string(" - ","Ali","Amir","Iman")

'Ali - Amir - Iman'

In [27]:
"*".join(["1","2","3","4"])

'1*2*3*4'

In [49]:
def introduce_yourself(**kwargs):
    """information"""
    print(kwargs)

In [37]:
profile = {
    'name': 'Faezeh',
    'age': 17,
    'city': 'Tehran'
}
introduce_yourself(
    **profile
)

{'name': 'Faezeh', 'age': 17, 'city': 'Tehran'}

In [51]:
introduce_yourself.__doc__

'information'

In [52]:
sum.__doc__

"Return the sum of a 'start' value (default: 0) plus an iterable of numbers\n\nWhen the iterable is empty, return the start value.\nThis function is intended specifically for use with numeric values and may\nreject non-numeric types."